<div class="row-fluid"><!-- BEGIN PAGE HEADER-->
	<div class="span12">
		<h3 class='page-title'>
			<small>测评对象列表将会为您展示辖区内所有单位的所有被评价对象，每个单位有哪些领导是测评对象</small>
		</h3>
        <ul class="breadcrumb"><!-- BEGIN PAGE TITLE & BREADCRUMB-->
               <li>
                  <a href="#">民主评价系统</a>
               </li>
               <li>
                   <a href="#">测评对象管理</a>
               </li>
               <li>
                   <a href="#">测评对象列表</a>
               </li>
        </ul><!-- END PAGE TITLE & BREADCRUMB-->
    </div><!-- END span12-->
</div><!-- END PAGE HEADER-->
<div class="row-fluid"><!-- BEGIN PAGE CONTENT-->
	<div class="col-md-12">
		<table class="table table-striped table-bordered table-hover datatable">
		     <thead>
		        <tr>
		            <th>编号</th>
		            <th>姓名</th>
		            <th>所属单位</th>
		            <th>职位</th>
		            <th>创建日期</th>
		            <th>操作</th>
		        </tr>
		     </thead>
		     <tbody>
		     	{%for item in evaluatedPerson%}
					<tr>
		                <td>{{item.id}}</td>
		                <td>{{item.realname}}</td>
		                <td>&nbsp;</td>
		                <td>{{item.position}}</td>
		                <td>{{item.insertTime|date('Y-m-d H:i:s')}}</td>
		                <td>
		                    <a type="button" class="btn red btn-xs ajaxify"  href="{{ path('evaluation_evaluated_person_delete',{'id':item.id})}}">删除</a>
		                    <a type="button" class="btn green btn-xs" 		 href="{{ path('evaluation_evaluated_person_update',{'id':item.id})}}">编辑</a>
		                </td>
		            </tr>
				{%endfor%}
		     </tbody>
		</table>
	</div>
</div><!-- END PAGE CONTENT-->
