<div class="row-fluid"><!-- BEGIN PAGE HEADER-->
	<div class="span12">
		<h3 class='page-title'>
			<small>您填写或者选择关于评价单位和评价对象的一些信息，保存提交后便可完成一次民主评价，评价过程全程匿名</small>
		</h3>
		<ul class="breadcrumb"><!-- BEGIN PAGE TITLE & BREADCRUMB-->
               <li>
                  <a href="#">民主评价系统</a>
               </li>
               <li>
                   <a href="#">评价管理</a>
               </li>
               <li>
                   <a href="#">参与评价</a>
               </li>
        </ul><!-- END PAGE TITLE & BREADCRUMB-->
    </div><!-- END span12-->
</div><!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		{{form_start(formView)}}
		<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>请对学校进行评价和打分
							</div>
						</div>
						<div class="portlet-body form">
							<div class="form-group">
									<label class='col-md-2 control-label'>评价名称</label>
									<div class="input-group col-md-6">
										{{form_widget(formView.name)}}
									</div>
							</div>
							<div class="form-group">
									<label class='col-md-2 control-label'>学校得分</label>
									<div class="input-group col-md-4">
										{{form_widget(formView.schoolResult.score)}}
									</div>
							</div>
							<div class="form-group">
									<label class='col-md-2 control-label'>您的意见</label>
									<div class="input-group col-md-6">
										{{form_widget(formView.schoolResult.comment)}}
									</div>
							</div>
						</div>
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i>请对学校领导进行打分
							</div>
						</div>
						<div class="portlet-body form">
								{% for person in formView.personResult %}
								<div class="form-group">
									<div   class="col-md-2 ">
										<div class="input-group center-block">{{form_widget(person.position)}}</div>
									</div>
									<div   class="col-md-2">
										<div class="input-group center-block">{{form_widget(person.realname)}}</div>
									</div>
									<div   class="col-md-4">
										<div class="input-group center-block">{{form_widget(person.score)}}</div>
									</div>
								</div>
								{% endfor %}
								<div class="form-actions text-center">
										<button type="button" class="btn blue form-submit-button">提交</button>
										<button type="reset"  class="btn default">重置</button>
										{{form_widget(formView._token)}}
								</div>
						</div>
					</div>
		</form>
	</div><!-- col-md-12 end -->
</div><!-- row end -->
<!-- END PAGE CONTENT-->


